.Frm {
    padding: 5px;
    width: 15%;
    float: left;
}

.Frm-inpt {
    float: left;
    flex: 1;
    margin: 5px;
    height: 34px;
}

.Frm-bttn {
    float: left;
    margin-right: 0;
    width: 155px;
    margin: 5px;
    padding: 5px;
}
